<div class="header" style="position: sticky">
  <div class="heading">Sales And Distribution</div>
  <div class="navigation">
    <div class="nav-item" (click)="navigateTo('main')">
      <i class="home-icon"></i>
      Home
    </div>
    <div class="nav-item" (click)="navigateTo('products')">
      <i class="products-icon"></i>
      Products
    </div>
    <a class="nav-item" (click)="scrollToSection('about-us')"> About Us </a>
    <a class="nav-item" (click)="scrollToSection('contact-us')"> Contact </a>
  </div>
</div>
