
.nav-item {
  padding: 25px 50px;
  margin-top: 0;
  cursor: pointer;
  display: flex; /* Align items horizontally */
  align-items: center; /* Center items vertically */
}

.nav-item:not(:last-child) {
  margin-bottom: 20px; /* Add space between each item */
}

@media only screen and (max-width: 1300px) {
  .nav-item {
    padding: 25px 40px;
  }
}

.nav-item:hover {
  background-color: rgb(1, 38, 69);
  color: #fff; /* Change text color on hover */
}

.nav-item i {
  margin-right: 20px;
  font-size: 22px;
}

.nav-item span {
  display: inline;
}

@media only screen and (max-width: 1300px) {
  .nav-item span {
    display: none;
  }
}
