<div class="nav-items">
  <div class="nav-item">
    <i class="fa-solid fa-list"></i>
    <span>Category</span>
  </div>
  <div class="nav-item">
    <i class="fa-solid fa-cart-shopping"></i>
    <span>Orders</span>
  </div>
  <div class="nav-item">
    <i class="fa-solid fa-credit-card"></i>
    <span>Payments</span>
  </div>
  <div class="nav-item">
    <i class="fa-solid fa-file-invoice"></i>
    <span>Invoices</span>
  </div>
  <div class="nav-item">
    <i class="fa-solid fa-person-military-pointing"></i>
    <span>Customers</span>
  </div>
  <div class="nav-item" (click)="logout()">
    <i class="fa-solid fa-person-military-pointing"></i>
    <span>Sign out</span>
  </div>
</div>
