<div class="header">
  <app-header></app-header>
</div>

<div class="container-fluid my-container">
  <div class="row">
    <div class="col-2">
      <div class="sidebar">
        <app-sidebar></app-sidebar>
      </div>
    </div>
    <div class="col-10">
      <div class="main">

        <div class="main-content">
          <div class="middle-section">
            <div class="widget left">
              <app-total-sales></app-total-sales>
            </div>
            <div class="widget right">
              <app-sales-by-category></app-sales-by-category>
            </div>
          </div>
          <div class="bottom-section">
            <div class="widget left">
              <app-sales-by-order></app-sales-by-order>
            </div>
            <div class="widget right">
              <app-top-3-products></app-top-3-products>
            </div>
            <div class="about-contact-section">
              <div id="about-us" class="about-us">
                <h2>About Us</h2>
                <p>(information about sales and distribution)</p>
              </div>

              <div id="contact-us" class="contact-us">
                <h2>Contact Us</h2>
                <p>(contact details )</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>